.c-drawer {
	z-index: map-get($layer, "drawer");
}

.c-drawer__close {
	display: none;
	position: fixed;
	z-index: map-get($layer, "drawer") - 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: all 0.3s ease 0s;

	&.is-checked {
		display: block;
		opacity: 0.4;
	}
}

.c-drawer__content {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	display: none;
	transform: translateX(105%);
	z-index: map-get($layer, "drawer");
	width: 250px;
	max-width: 90%;
	height: 100%;
	background: #fff;
	transition: all 0.5s ease 0s;
	padding: 16px 0 0;
	text-align: left;
	color: $color-text;

	&.is-checked {
		display: block;
		transform: translateX(0);
		box-shadow: 6px 0 25px rgba(#000, 0.16);
	}
}

.c-drawer__content--left {
	transform: translateX(-105%);
	left: 0;
	right: auto;
}

.c-drawer__content--top {
	transform: translateY(-105%);
	top: 0;
	bottom: auto;
	width: 100%;
	height: 100%;
	max-width: 100%;
}

.c-drawer__content--cover {
	visibility: hidden;
	opacity: 0;
	transform: translateX(0);
	top: 0;
	bottom: auto;
	width: 100%;
	height: 100%;
	max-width: 100%;
	transition: all 0.5s linear 0s;

	&.is-checked {
		visibility: visible;
		opacity: 1;
	}
}
