.l-page {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 32px;
	padding: 24px $pd-entry-sp 42px;

	@include mq-up("tab") {
		padding-right: $pd-entry-pc;
		padding-left: $pd-entry-pc;
	}
}

.l-page__header {
	margin-bottom: 8px;
}

.l-page__body {
	margin-top: 32px;
}

.l-page__links {
	margin-top: 32px;
}

.l-page__tags {
	margin-top: 32px;
}

.l-page__relation {
	margin-top: 32px;
}
