.l-primary {
	width: 100%;

	@include mq-up("tab") {
		width: ($layout-width-main / $layout-width-container) * 100%;
		margin-bottom: 0;
	}
}

.l-primary__header {
}

.l-primary__body {
	margin-top: 48px;
}

.l-primary__footer {
	margin-top: 32px;
}
