[type="submit"],
[type="button"],
.c-button,
.post_password .post_password-submit {
	-webkit-appearance: none;
	background-color: #9e9e9e;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	margin: 0;
	padding: 0.6em 1.2em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

:not(:disabled)[type="submit"],
:not(:disabled)[type="button"],
.c-button:not(:disabled),
.post_password .post_password-submit:not(:disabled) {
	cursor: pointer;
}

:hover[type="submit"],
:hover[type="button"],
.c-button:hover,
.post_password .post_password-submit:hover {
	outline: none;
}

[type="submit"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
.c-button::-moz-focus-inner,
.post_password .post_password-submit::-moz-focus-inner {
	border: none;
	padding: 0;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="number"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime-local"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	margin: 0;
	padding: 0.4em 0.8em;
	width: auto;
}

textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	height: 100px;
	margin: 0;
	padding: 0.4em 0.8em;
	resize: none;
	width: auto;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(../img/arrow-select.svg);
	background-position: center right 0.2em;
	background-repeat: no-repeat;
	background-size: 12px auto;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
	width: auto;
}

select::-ms-expand {
	display: none;
}

select[multiple] {
	background-image: none;
	height: 100px;
	margin: 0;
	padding: 0;
}

select[multiple] option {
	padding: 0.4em 1.2em 0.4em 0.4em;
}

.p-drawer-nav ul,
.p-widget ul {
	font-size: 14px;
	padding: 0 0.6em;
}

.p-drawer-nav ul.children,
.p-widget ul.children,
.p-drawer-nav ul.sub-menu,
.p-widget ul.sub-menu {
	display: none;
}

.p-drawer-nav ul.children li,
.p-widget ul.children li,
.p-drawer-nav ul.sub-menu li,
.p-widget ul.sub-menu li {
	margin-top: 0;
}

.p-drawer-nav ul.children li a,
.p-widget ul.children li a,
.p-drawer-nav ul.sub-menu li a,
.p-widget ul.sub-menu li a {
	font-size: 13px;
}

.p-drawer-nav ul .m-open .sub-menu,
.p-widget ul .m-open .sub-menu {
	display: block;
}

.p-drawer-nav > ul,
.p-widget > ul,
.p-drawer-nav .menu,
.p-widget .menu {
	padding: 1em 0.6em;
}

.p-drawer-nav li,
.p-widget li {
	font-size: inherit;
	margin-bottom: 0;
	position: relative;
}

.p-drawer-nav li:last-child,
.p-widget li:last-child {
	margin-bottom: 0;
}

.p-drawer-nav li a,
.p-widget li a {
	display: block;
	padding: 0.8em 24px 0.8em 0.8em;
	text-decoration: none;
}

.p-drawer-nav li button,
.p-widget li button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 11px;
}

.p-drawer-nav li button::after,
.p-widget li button::after {
	content: "\f078";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 14px;
	font-weight: 900;
}

.p-drawer-nav li.m-open button::after,
.p-widget li.m-open button::after {
	content: "\f077";
}

.fadein {
	opacity: 0.1;
	transform: translate(0, 30px);
	transition: all 0.5s ease 0s;
}

.fadein.fadein--anim {
	opacity: 1;
	transform: translate(0, 0);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #424242;
	font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	margin: 0;
	padding: 0;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: Monaco, monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #bdbdbd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th,
td {
	border: 1px solid #bdbdbd;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

th {
	background: #eee;
	color: #424242;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

input,
textarea,
select {
	max-width: 100%;
}

[type="text"].m-full,
[type="search"].m-full,
[type="tel"].m-full,
[type="url"].m-full,
[type="email"].m-full,
[type="password"].m-full,
[type="number"].m-full,
[type="date"].m-full,
[type="month"].m-full,
[type="week"].m-full,
[type="time"].m-full,
[type="datetime-local"].m-full {
	width: 100%;
}

[data-target] {
	cursor: pointer;
}

.l-breadcrumb {
	background: #eee;
}

.l-content {
	padding: 30px 0;
	width: 100%;
}

.l-content__inner {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.l-footer {
	background: #757575;
	width: 100%;
	z-index: 10;
}

.l-header {
	background: #fff;
	height: 60px;
	width: 100%;
	z-index: 20;
}

.l-header.m-fixed {
	left: 0;
	position: fixed;
	top: 0;
}

.l-header__inner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.l-header__logo {
	margin-right: auto;
	padding-right: 0;
}

.l-header__global {
	display: none;
}

.l-header__drawer {
	display: block;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding: 0 16px;
	width: 1180px;
}

.l-page {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 32px;
	padding: 24px 16px 42px;
}

.l-page__header {
	margin-bottom: 8px;
}

.l-page__body {
	margin-top: 32px;
}

.l-page__links {
	margin-top: 32px;
}

.l-page__tags {
	margin-top: 32px;
}

.l-page__relation {
	margin-top: 32px;
}

.l-primary {
	width: 100%;
}

.l-primary__body {
	margin-top: 48px;
}

.l-primary__footer {
	margin-top: 32px;
}

.l-secondary {
	margin-top: 32px;
	width: 100%;
}

.l-secondary__fixed {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
	position: -webkit-sticky;
	position: sticky;
	top: 32px;
}

.c-checkbox {
	display: none;
}

.c-checkbox + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

.c-checkbox + span::before {
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

.c-checkbox + span::after {
	border-bottom: 3px solid #616161;
	border-left: 3px solid #616161;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 1em;
}

.c-checkbox:checked + span::before {
	border: 1px solid #bdbdbd;
}

.c-checkbox:checked + span::after {
	opacity: 1;
}

.c-drawer-icon {
	background-color: transparent;
	background-image: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 41;
}

.c-drawer-icon::after {
	color: #757575;
	content: "MENU";
	display: block;
	font-size: 8px;
	font-weight: 700;
	line-height: 1;
	margin-top: 6px;
	text-align: center;
}

.c-drawer-icon.is-checked::after {
	content: "CLOSE";
}

.c-drawer__bars {
	display: inline-block;
	height: 19px;
	position: relative;
	vertical-align: bottom;
	width: 30px;
}

.c-drawer__bar {
	background-color: #757575;
	border-radius: 2px;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.c-drawer__bar:nth-of-type(1) {
	top: 0;
}

.c-drawer__bar:nth-of-type(2) {
	top: 8px;
}

.c-drawer__bar:nth-of-type(3) {
	top: 16px;
}

.is-checked .c-drawer__bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.is-checked .c-drawer__bar:nth-of-type(2) {
	background-color: transparent;
}

.is-checked .c-drawer__bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

.c-drawer {
	z-index: 40;
}

.c-drawer__close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 39;
}

.c-drawer__close.is-checked {
	display: block;
	opacity: 0.4;
}

.c-drawer__content {
	background: #fff;
	bottom: auto;
	color: #424242;
	display: none;
	height: 100%;
	left: auto;
	max-width: 90%;
	overflow: auto;
	padding: 16px 0 0;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 250px;
	z-index: 40;
}

.c-drawer__content.is-checked {
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	display: block;
	transform: translateX(0);
}

.c-drawer__content--left {
	left: 0;
	right: auto;
	transform: translateX(-105%);
}

.c-drawer__content--top {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	top: 0;
	transform: translateY(-105%);
	width: 100%;
}

.c-drawer__content--cover {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	opacity: 0;
	top: 0;
	transform: translateX(0);
	transition: all 0.5s linear 0s;
	visibility: hidden;
	width: 100%;
}

.c-drawer__content--cover.is-checked {
	opacity: 1;
	visibility: visible;
}

.c-radio {
	display: none;
}

.c-radio + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

.c-radio + span::before {
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

.c-radio + span::after {
	background: #616161;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	box-shadow: 0 0 0 0.1em #fff inset;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 1em;
}

.c-radio:checked + span::before {
	border: 1px solid #bdbdbd;
}

.c-radio:checked + span::after {
	opacity: 1;
}

.p-archive-header {
	background: #fff;
	border: 1px solid #eee;
	padding: 24px 16px;
	text-align: center;
}

.p-archive-header__title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 8px;
}

.p-archive-header__description {
	color: #666;
	font-size: 14px;
}

.p-archive-header__form {
	margin-top: 24px;
	text-align: left;
}

.p-attachment__img {
	margin-top: 12px;
	text-align: center;
}

.p-attachment__caption {
	color: #9e9e9e;
	font-size: 12px;
	margin-top: 8px;
	text-align: center;
}

.p-attachment__btn {
	margin-top: 32px;
	text-align: center;
}

.p-attachment__btn .c-button {
	text-decoration: none;
}

.p-breadcrumb ul {
	align-items: center;
	display: flex;
	overflow: auto;
}

.p-breadcrumb ul li {
	padding: 3px 0;
	white-space: nowrap;
}

.p-breadcrumb ul a {
	color: #666;
	display: block;
	font-size: 13px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-breadcrumb ul a:hover {
	opacity: 0.6;
}

.p-breadcrumb__current {
	color: #666;
	font-size: 13px;
}

.p-breadcrumb__bridge {
	color: #666;
	font-size: 13px;
	padding: 0 16px;
}

.p-comments-list li {
	margin-bottom: 24px;
}

.p-comments-list .children {
	margin-top: 24px;
	padding-left: 12px;
}

.p-comments-list .comment-body .reply {
	font-size: 14px;
	text-align: right;
	transition: all 0.3s ease 0s;
}

.p-comments-list .comment-body .reply:hover {
	opacity: 0.6;
}

.p-comments-list .comment-meta {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.bypostauthor .p-comments-list .comment-meta {
	flex-direction: row-reverse;
}

.p-comments-list .comment-author {
	margin-right: auto;
}

.bypostauthor .p-comments-list .comment-author {
	margin-left: auto;
	margin-right: 0;
}

.p-comments-list .comment-author img {
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: middle;
	width: 42px;
}

.p-comments-list .comment-author .fn {
	font-size: 14px;
	vertical-align: middle;
}

.p-comments-list .comment-author .fn a {
	transition: all 0.3s ease 0s;
}

.p-comments-list .comment-author .fn a:hover {
	opacity: 0.6;
}

.p-comments-list .comment-author .says {
	color: #666;
	font-size: 12px;
	vertical-align: middle;
}

.p-comments-list .comment-metadata {
	color: #666;
	font-size: 12px;
}

.p-comments-nav ul {
	display: flex;
}

.p-comments-nav__prev,
.p-comments-nav__next {
	margin-right: auto;
}

.p-comments-nav__prev:last-child,
.p-comments-nav__next:last-child {
	margin-right: 0;
}

.p-comments-nav__prev a,
.p-comments-nav__next a {
	color: #666;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-comments-nav__prev a:hover,
.p-comments-nav__next a:hover {
	opacity: 0.6;
}

.p-comments__title {
	font-size: 20px;
	font-weight: 700;
	margin: 42px 0 24px;
}

.p-comments__list {
	margin-bottom: 32px;
}

.p-comments__nav {
	margin-top: 32px;
}

.p-comments__form {
	margin-top: 60px;
}

.comment-content h1 {
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h2 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h4 {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h5 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h2 + p,
.comment-content h3 + p,
.comment-content h4 + p,
.comment-content h5 + p,
.comment-content h6 + p {
	margin-top: 0;
}

.comment-content p {
	line-height: 1.6;
	margin-top: 1.2em;
}

.comment-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.comment-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.comment-content li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.comment-content blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.comment-content blockquote > :first-child {
	margin-top: 0;
}

.comment-content blockquote > :last-child {
	margin-bottom: 0;
}

.comment-content q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.comment-content strong,
.comment-content em,
.comment-content b {
	font-weight: 700;
}

.comment-content a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.comment-content a:hover {
	opacity: 0.6;
}

.comment-content img {
	vertical-align: middle;
}

.comment-content dl {
	margin-top: 1em;
}

.comment-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.comment-content var,
.comment-content code,
.comment-content kbd {
	background: #fee;
	color: #444;
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: baseline;
}

.comment-content pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.comment-content pre code {
	background: #2d2d2d;
	color: #fff;
	margin: -1em;
	overflow: auto;
	padding: 12px;
	position: relative;
}

.comment-respond .required {
	color: #e57373;
	vertical-align: middle;
}

.comment-respond [type="text"],
.comment-respond [type="email"],
.comment-respond [type="tel"],
.comment-respond [type="url"],
.comment-respond [type="email"],
.comment-respond textarea {
	vertical-align: top;
	width: 100%;
}

.comment-respond textarea {
	height: 180px;
	width: 100%;
}

.comment-reply-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}

.logged-in-as a {
	color: #666;
	transition: all 0.3s ease 0s;
}

.logged-in-as a:hover {
	opacity: 0.6;
}

.comment-notes {
	color: #666;
}

.comment-form label {
	display: block;
	margin: 10px 0 4px;
}

.comment-form .form-submit {
	margin-top: 24px;
	transition: all 0.3s ease 0s;
}

.comment-form .form-submit:hover {
	opacity: 0.6;
}

#wp-comment-cookies-consent + label {
	cursor: pointer;
	display: inline-block;
	margin: 24px 0 0 0;
	padding: 0 0 0 1.4em;
	position: relative;
	transition: all 1s ease 0s;
}

#wp-comment-cookies-consent + label::before {
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

#wp-comment-cookies-consent + label::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

#wp-comment-cookies-consent:checked + label::after {
	border-bottom: 4px solid #616161;
	border-left: 4px solid #616161;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

.p-contact__item dt,
.p-contact__item dd {
	padding: 0;
}

.p-contact__item dt {
	margin-bottom: 6px;
	width: 100%;
}

.p-contact__item dd {
	margin-bottom: 20px;
	width: 100%;
}

.p-contact__item select {
	background-image: url(../img/arrow-select.svg);
}

.p-contact__submit {
	text-align: center;
}

.p-contact__submit [type="submit"] {
	transition: all 0.3s ease 0s;
}

.p-contact__submit [type="submit"]:hover {
	opacity: 0.6;
}

.p-drawer-widget {
	padding: 0 12px;
}

.p-entries.p-entries--square {
	display: flex;
	flex-wrap: wrap;
}

.p-entries__item {
	margin-bottom: 32px;
}

.p-entries--square .p-entries__item {
	margin-bottom: 32px;
	margin-right: 0;
	width: 100%;
}

.p-entry {
	background: #fff;
	border: 1px solid #eee;
	padding: 12px;
	text-decoration: none;
}

.p-entries--square .p-entry {
	display: block;
}

.p-entry__img {
	padding: 0;
	text-align: center;
	width: 100%;
}

.p-entries--square .p-entry__img {
	padding: 0;
	width: 100%;
}

.p-entry__img-cover {
	overflow: hidden;
	padding-top: 71.42857%;
	position: relative;
}

.p-entry__img-cover a {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.p-entry__img-cover a:hover {
	opacity: 0.6;
}

.p-entry__img-cover a img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-entry__body {
	padding: 12px 0 0;
	width: 100%;
}

.p-entries--square .p-entry__body {
	padding: 12px 0 0;
	width: 100%;
}

.p-entry__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.p-entry__published {
	color: #666;
	font-size: 12px;
	margin-left: auto;
	white-space: nowrap;
}

.p-entry__published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 6px;
}

.p-entry__label {
	white-space: nowrap;
}

.p-entry__label a,
.p-entry__label span {
	background: #333;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
}

.p-entry__label a {
	text-decoration: none;
}

.p-entry__label a:hover {
	opacity: 0.6;
}

.p-entry__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 8px;
}

.p-entry__title a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry__title a:hover {
	opacity: 0.6;
}

.p-entry__excerpt {
	color: #666;
	font-size: 14px;
}

.p-entry__author {
	margin-top: 16px;
	text-align: right;
}

.p-entry__author a,
.p-entry__author span {
	color: #666;
	font-size: 14px;
	vertical-align: middle;
}

.p-entry__author a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry__author a:hover {
	opacity: 0.6;
}

.p-entry__author img {
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: middle;
	width: 30px;
}

.p-floating {
	bottom: 8px;
	display: none;
	position: fixed;
	right: 8px;
}

.p-floating a {
	background: #9e9e9e;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 38px;
}

.p-floating a:hover {
	opacity: 0.6;
}

.p-floating span {
	align-items: center;
	display: flex;
	font-size: 16px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.p-floating span::before {
	content: "\f077";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
}

.p-footer__copy {
	color: #fff;
	font-size: 13px;
	padding: 8px;
}

.p-footer__copy a {
	margin: 0 0.4em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-footer__copy a:hover {
	opacity: 0.6;
}

.p-footer__copy span {
	margin: 0 0.1em 0 0.4em;
}

.p-header-logo a {
	display: block;
	font-size: 28px;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header-logo a:hover {
	opacity: 0.6;
}

.p-header-logo img {
	max-height: 100%;
	vertical-align: middle;
	width: auto;
}

.p-header-nav ul {
	display: flex;
}

.p-header-nav ul li {
	margin-right: 12px;
	padding: 16px 0;
	position: relative;
	z-index: 22;
}

.p-header-nav ul li:last-child {
	margin-right: 0;
}

.p-header-nav ul li:last-child .sub-menu {
	left: auto;
	right: 0;
}

.p-header-nav ul li > a {
	display: block;
	font-size: 14px;
	padding: 6px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header-nav ul li > a:hover {
	opacity: 0.6;
}

.p-header-nav > ul > li.menu-item-has-children > a::after {
	content: "\f0d7";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 700;
	margin-left: 10px;
}

.p-header-nav > ul > li.m--button > a {
	background: #9e9e9e;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
	color: #fff;
	padding: 0.4em 1.2em;
}

.p-header-nav .sub-menu {
	display: block;
	font-size: 16px;
	left: 0;
	min-width: 200px;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 21;
}

.p-header-nav .sub-menu li {
	display: block;
	height: auto;
	margin-bottom: 2px;
	margin-right: 0;
	padding: 0;
}

.p-header-nav .sub-menu li a {
	background: #9e9e9e;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	letter-spacing: 0.05em;
	line-height: 1.6;
	padding: 8px 28px 8px 16px;
}

.p-header-nav .sub-menu.is-show {
	opacity: 1;
	visibility: visible;
}

.rc-heading01 h2 {
	background: #9e9e9e;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #ccc;
	color: #fff;
	letter-spacing: 0.03em;
	padding: 0.6em 0.8em;
	position: relative;
}

.rc-heading01 h2::after {
	border-color: #fff #fff #e7e7e7;
	border-radius: 0 0 0 2px;
	border-style: solid;
	border-width: 0 16px 16px 0;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
	content: "";
	position: absolute;
	right: 0;
	top: 0;
}

.rc-heading01 h3 {
	border-left: solid #9e9e9e 6px;
	margin: 3.6em 0 0.8em;
	padding: 0.4em 0.8em;
}

.rc-heading01 h4 {
	border-bottom: solid 2px #9e9e9e;
	border-top: solid 2px #9e9e9e;
	display: inline-block;
	padding: 0.4em 0.8em;
}

.rc-heading01 h5 {
	color: #9e9e9e;
}

.rc-heading01 h6 {
	color: #9e9e9e;
}

.p-information {
	width: 100%;
}

.p-information__link a {
	background: #efa336;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-like-box {
	background: #2d2d2d;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	margin-top: 32px;
}

.p-like-box__img {
	background: transparent no-repeat center center / auto 100%;
	width: 40%;
}

.p-like-box__img img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-like-box__body {
	padding: 10px 4px;
	text-align: center;
}

.p-like-box__lead {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 8px;
}

.p-like-box__content {
	font-size: 12px;
	margin-top: 12px;
}

.p-main-visual {
	background: #9e9e9e;
	min-height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-main-visual > img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-main-visual::before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.p-main-visual__content {
	color: #fff;
	left: 50%;
	max-width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

.p-main-visual__title {
	font-size: 24px;
	font-weight: 700;
}

.p-main-visual__lead {
	font-size: 14px;
	margin-top: 8px;
}

.p-main-visual--top {
	height: 300px;
}

.p-main-visual--top::before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.p-main-visual--page {
	height: 300px;
}

.p-main-visual--page::before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.p-not-found {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 48px;
	padding: 24px 24px 42px;
	text-align: center;
}

.p-not-found__body {
	margin-bottom: 36px;
	text-align: center;
}

.p-not-found__body p:first-child {
	margin-top: 0;
}

.p-not-found__link {
	text-align: center;
}

.p-page-content {
	overflow: hidden;
}

.p-page-content > :first-child {
	margin-top: 0;
}

.p-page-content > :last-child {
	margin-bottom: 0;
}

.p-page-content h2 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-page-content h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-page-content h4 {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-page-content h5 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-page-content h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-page-content p {
	line-height: 1.8;
	margin: 2em 0 0.4em;
}

.p-page-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-page-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-page-content li {
	line-height: 1.6;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

.p-page-content blockquote {
	background: #eee;
	color: #333;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.p-page-content blockquote > :first-child {
	margin-top: 0;
}

.p-page-content blockquote > :last-child {
	margin-bottom: 0;
}

.p-page-content q {
	background: #eee;
	box-shadow: 0 0 0 1px #eee;
	color: #333;
	padding: 0 0.2em;
	vertical-align: middle;
}

.p-page-content th {
	background: #eee;
}

.p-page-content strong,
.p-page-content em,
.p-page-content b {
	font-weight: 700;
}

.p-page-content a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.p-page-content a:hover {
	opacity: 0.6;
}

.p-page-content img {
	vertical-align: middle;
}

.p-page-content dl {
	margin-top: 1em;
}

.p-page-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.p-page-content var,
.p-page-content code,
.p-page-content kbd {
	background: #fee;
	box-shadow: 0 0 0 1px #fee;
	color: #444;
	font-family: Monaco, monospace, sans-serif;
	font-style: normal;
	font-weight: 700;
	margin: 0 0.1em;
	padding: 0 0.2em;
	vertical-align: baseline;
}

.p-page-content pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	background: rgba(239, 239, 239, 0.3);
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	tab-size: 2;
	white-space: pre;
}

.p-page-content pre code {
	background: #2d2d2d;
	color: #fff;
	display: block;
	font-family: Monaco, monospace, sans-serif;
	font-weight: 400;
	margin: -1em;
	overflow: auto;
	padding: 12px;
	position: relative;
}

.p-page-header__img {
	text-align: center;
}

.p-page-header__title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 16px;
}

.p-page-header__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.p-page-header__published {
	color: #9e9e9e;
	font-size: 12px;
	margin-left: auto;
	white-space: nowrap;
}

.p-page-header__published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 6px;
}

.p-page-header__update {
	color: #9e9e9e;
	font-size: 12px;
	margin-left: 16px;
	white-space: nowrap;
}

.p-page-header__label {
	white-space: nowrap;
}

.p-page-header__label a,
.p-page-header__label span {
	background: #424242;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
}

.p-page-header__label a {
	text-decoration: none;
}

.p-page-header__label a:hover {
	opacity: 0.6;
}

.p-page-links {
	display: flex;
	justify-content: center;
}

.p-page-links .post-page-numbers {
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	display: inline-block;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	margin-right: 12px;
	min-width: 36px;
	text-align: center;
}

.p-page-links .post-page-numbers.current {
	background: #9e9e9e;
	border: 1px solid #9e9e9e;
	color: #fff;
}

.p-page-links .post-page-numbers:first-child {
	margin-left: 0;
}

.p-page-links .post-page-numbers:last-child {
	margin-right: 0;
}

.p-page-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-page-links a:hover {
	background: #9e9e9e;
	border: 1px solid #9e9e9e;
	color: #fff;
	opacity: 1;
}

.p-page-pager__head {
	color: #666;
	display: block;
	font-size: 14px;
	margin-bottom: 4px;
	padding: 0 2px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-page-pager__head:hover {
	opacity: 0.6;
}

.p-page-pager__prev,
.p-page-pager__next {
	width: 100%;
}

.p-page-pager__prev {
	margin-right: auto;
}

.p-page-pager__prev > .p-page-pager__head::before {
	content: "\f053";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 6px;
}

.p-page-pager__next {
	margin-bottom: 12px;
	margin-left: auto;
}

.p-page-pager__next > .p-page-pager__head {
	text-align: right;
}

.p-page-pager__next > .p-page-pager__head::before {
	display: none;
}

.p-page-pager__next > .p-page-pager__head::after {
	content: "\f054";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-left: 6px;
}

.p-page-tags {
	align-items: center;
	border-top: 1px solid #eee;
	display: flex;
	flex-wrap: wrap;
	padding-top: 12px;
}

.p-page-tags__link {
	font-size: 12px;
	margin: 0 6px 6px 0;
}

.p-page-tags__link a {
	background: #eee;
	border-radius: 2px;
	color: #333;
	display: block;
	padding: 2px 6px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-page-tags__link a:hover {
	opacity: 0.6;
}

.p-pager-card {
	background: #fff;
	border: 1px solid #eee;
	display: flex;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-pager-card:hover {
	opacity: 0.6;
}

.p-pager-card.p-pager-card--right {
	flex-direction: row-reverse;
}

.p-pager-card__img {
	width: 80px;
}

.p-pager-card__img img {
	width: 80px;
}

.p-pager-card__body {
	padding: 12px;
	width: calc(100% - 80px);
}

.p-pager-card__title {
	font-size: 14px;
}

.p-pagination {
	display: flex;
	justify-content: center;
}

.p-pagination a {
	transition: all 0.3s ease 0s;
}

.p-pagination a:hover {
	background: #9e9e9e;
	border: 1px solid #9e9e9e;
	color: #fff;
}

.p-pagination .next,
.p-pagination .prev {
	background: #eee;
	border: 1px solid #eee;
	font-size: 12px;
	transition: all 0.3s ease 0s;
}

.p-pagination .next:hover,
.p-pagination .prev:hover {
	background: #9e9e9e;
	border: 1px solid #9e9e9e;
	color: #fff;
}

.p-pagination .page-numbers {
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	height: 38px;
	line-height: 38px;
	margin-right: 8px;
	min-width: 38px;
	text-align: center;
	text-decoration: none;
}

.p-pagination .page-numbers:last-child {
	margin-right: 0;
}

.p-pagination .page-numbers.current {
	background: #9e9e9e;
	border: 1px solid #9e9e9e;
	color: #fff;
}

.p-pagination .page-numbers.dots,
.p-pagination .page-numbers.next,
.p-pagination .page-numbers.prev {
	border: none;
}

.p-relation-entry__title {
	line-height: 1.4;
}

.p-relation-entry__title a {
	font-size: 14px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-relation-entry__title a:hover {
	opacity: 0.6;
}

.p-relation-entry__body {
	padding: 4px;
}

.p-relation-entry-img-cover {
	overflow: hidden;
	padding-top: 71.42857%;
	position: relative;
}

.p-relation-entry-img-cover a {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.p-relation-entry-img-cover a:hover {
	opacity: 0.6;
}

.p-relation-entry-img-cover a img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-relation__head {
	color: #424242;
	font-weight: 700;
	margin-bottom: 16px;
	text-align: center;
}

.p-relation__head::before {
	content: "|";
	display: inline-block;
	margin-right: 12px;
	transform: rotate(-30deg);
}

.p-relation__head::after {
	content: "|";
	display: inline-block;
	margin-left: 12px;
	transform: rotate(30deg);
}

.p-relation__head span {
	font-size: 18px;
}

.p-relation__entries {
	display: flex;
	flex-wrap: wrap;
}

.p-relation__entry {
	margin-bottom: 12px;
	margin-right: 12px;
	width: calc(50% - 12px * 1 / 2);
}

.p-relation__entry:nth-child(2n) {
	margin-right: 0;
}

.p-relation__btn {
	margin-top: 24px;
	text-align: center;
}

.p-relation__btn > .c-button {
	transition: all 0.3s ease 0s;
}

.p-relation__btn > .c-button:hover {
	opacity: 0.6;
}

.p-relation__no-entry {
	font-size: 14px;
}

.p-search-form {
	position: relative;
}

.p-search-form .search-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.p-search-form .search-submit {
	font-size: 14px;
	font-weight: 700;
	height: 42px;
	line-height: 42px;
	min-width: 42px;
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
}

.p-search-form .search-submit:hover {
	opacity: 0.6;
}

.p-widget {
	background: #fff;
	font-size: 14px;
	margin-bottom: 1em;
}

.p-widget:last-child {
	margin-bottom: 0;
}

.p-widget a {
	transition: all 0.3s ease 0s;
}

.p-widget a:hover {
	opacity: 0.6;
}

.p-widget__title {
	background: #9e9e9e;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 0.4em 0.6em;
}

.wp-caption {
	margin: 1.2em auto 0;
	max-width: 100%;
	text-align: center;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6;
}

.wp-caption-text {
	font-size: 13px;
	padding: 4px;
	text-align: left;
}

.post_password {
	margin-top: 1.2em;
	position: relative;
}

.post_password .post_password-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.post_password .post_password-submit {
	height: 40px;
	padding-bottom: 0;
	padding-top: 0;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
}

.post_password .post_password-submit:hover {
	opacity: 0.6;
}

.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	max-width: 48%;
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	max-width: 48%;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.sticky {
	position: relative;
}

.sticky::before {
	background: #e57373;
	color: #fff;
	content: "PICK UP";
	font-size: 12px;
	left: 0;
	padding: 4px 8px;
	position: absolute;
	top: 0;
	z-index: 2;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	height: auto;
	max-width: 100%;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	word-wrap: normal !important;
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.screen-reader-text:focus {
	clip: auto !important;
	-webkit-clip-path: none;
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 8.75px;
	font-weight: 700;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	right: 5px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.skip-link {
	left: -9999px;
	text-decoration: underline;
	top: 25px;
	z-index: 999999999;
}

.skip-link:focus {
	display: block;
	font-size: 14px;
	font-weight: 600;
	left: 6px;
	line-height: normal;
	padding: 15px 23px 14px;
	right: auto;
	text-decoration: none;
	top: 7px;
	z-index: 100000;
}

.wp-block-button__link {
	text-decoration: none !important;
}

#toc_container {
	background: #fff;
	border: solid 2px #9e9e9e;
	border-radius: 3px;
	display: inline-block;
	font-size: 1em;
	margin: 1.5em 0;
	padding: 0;
}

#toc_container .toc_title {
	background: #9e9e9e;
	border: none;
	color: #fff;
	font-size: 1.12em;
	font-weight: 700;
	letter-spacing: 0.3em;
	margin: 0 !important;
	padding: 8px 24px !important;
	text-align: center;
}

#toc_container .toc_title::before {
	content: "\f00b";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin: 0 8px 0 0;
}

#toc_container .toc_list {
	font-weight: 700;
	list-style: none;
	margin: 24px 20px !important;
	padding: 0;
}

#toc_container .toc_list ul {
	margin: 0;
}

#toc_container .toc_list li {
	margin: 0 0 12px;
	padding: 0;
}

#toc_container .toc_list li a {
	color: #383838;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

#toc_container .toc_list li > ul {
	list-style: none;
	margin: 10px 0 16px;
	padding: 0 0 0 20px;
}

#toc_container .toc_list li > ul li {
	font-size: 13px;
}

span.wpcf7-list-item {
	margin: 0;
}

.widget_archive select {
	background: transparent url(../img/arrow-select.svg) no-repeat center right 8px/12px auto;
	width: 100%;
}

.widget_calendar {
	padding-bottom: 0;
}

.wp-calendar-table caption {
	font-size: 14px;
	padding: 4px;
}

.wp-calendar-table th,
.wp-calendar-table td {
	font-size: 12px;
	padding: 8px;
	text-align: center;
}

.wp-calendar-table th {
	color: #424242;
}

.wp-calendar-table #prev {
	text-align: left;
}

.wp-calendar-table #next {
	text-align: right;
}

.wp-calendar-table a {
	display: block;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.wp-calendar-table a:hover {
	opacity: 0.6;
}

.wp-calendar-nav {
	display: flex;
	padding: 3px;
}

.wp-calendar-nav-prev,
.wp-calendar-nav-next {
	flex-grow: 1;
	padding: 0;
}

.wp-calendar-nav-next {
	text-align: right;
}

.widget_categories select {
	background: transparent url(../img/arrow-select.svg) no-repeat center right 8px/12px auto;
	width: 100%;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-caption {
	font-size: 14px;
	padding: 4px;
	text-align: left;
}

.gallery-icon {
	text-align: center;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
	width: 100%;
}

.gallery-item a {
	transition: all 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.widget_meta abbr {
	text-decoration: none;
}

#recentcomments .recentcomments {
	color: #9e9e9e;
}

#recentcomments .recentcomments a {
	color: #424242;
	text-decoration: underline;
}

#recentcomments .recentcomments a:hover {
	opacity: 0.6;
}

.post-date {
	color: #9e9e9e;
	display: block;
	font-size: 14px;
}

.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6;
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.widget_search {
	padding-bottom: 0;
}

.tagcloud {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0.6em;
}

.tag-cloud-link {
	background: #eee;
	border-radius: 2px;
	color: #333;
	display: block;
	font-size: 12px !important;
	margin: 0 6px 6px 0;
	padding: 2px 6px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.textwidget {
	padding: 1em 0.6em;
}

@media (min-width: 768px) {

.p-drawer-nav ul.children li,
.p-widget ul.children li,
.p-drawer-nav ul.sub-menu li,
.p-widget ul.sub-menu li {
	margin-top: 1.2em;
}

.p-drawer-nav li,
.p-widget li {
	margin-bottom: 1.2em;
}

.p-drawer-nav li a,
.p-widget li a {
	display: inline-block;
	padding: 0;
}

.p-drawer-nav li button,
.p-widget li button {
	top: 5px;
}

.l-header {
	height: auto;
}

.l-header__logo {
	padding-right: 12px;
}

.l-header__global {
	display: block;
}

.l-header__drawer {
	display: none;
}

.l-inner {
	padding-left: 32px;
	padding-right: 32px;
}

.l-page {
	padding-left: 24px;
	padding-right: 24px;
}

.l-primary {
	margin-bottom: 0;
	width: 71.18644%;
}

.l-secondary {
	margin-left: auto;
	margin-top: 0;
	width: 25.59322%;
}

.p-contact__item {
	display: flex;
}

.p-contact__item dt,
.p-contact__item dd {
	padding: 16px 12px;
}

.p-contact__item dt {
	margin-bottom: 0;
	width: 150px;
}

.p-contact__item dd {
	margin-bottom: 0;
	width: calc(100% - 150px);
}

.p-entries--square .p-entries__item {
	margin-right: 32px;
	width: calc(50% - 32px / 2);
}

.p-entries--square .p-entries__item:nth-child(2n) {
	margin-right: 0;
}

.p-entry {
	display: flex;
	padding: 24px 12px;
}

.p-entries--square .p-entry {
	padding-left: 24px;
	padding-right: 24px;
}

.p-entry__img {
	padding: 0 12px;
	width: 30%;
}

.p-entry__body {
	padding: 0 12px;
	width: 70%;
}

.p-floating a {
	height: 42px;
	line-height: 42px;
	width: 42px;
}

.p-header-logo img {
	max-height: 100%;
}

.p-like-box__img {
	background: transparent no-repeat center center / cover;
}

.p-like-box__body {
	padding-bottom: 20px;
	padding-top: 20px;
}

.p-like-box__lead {
	font-size: 16px;
	margin-bottom: 16px;
}

.p-like-box__content {
	font-size: 14px;
	margin-top: 16px;
}

.p-page-pager {
	display: flex;
	flex-direction: row-reverse;
}

.p-page-pager__head {
	font-size: 14px;
}

.p-page-pager__prev,
.p-page-pager__next {
	width: 42%;
}

.p-page-pager__next {
	margin-bottom: 0;
}

.p-pagination .page-numbers {
	height: 42px;
	line-height: 42px;
	min-width: 42px;
}

.p-relation__entry {
	width: calc(25% - 12px * 3 / 4);
}

.p-relation__entry:nth-child(2n) {
	margin-right: 12px;
}

.p-relation__entry:nth-child(4n) {
	margin-right: 0;
}

.p-widget {
	margin-bottom: 2em;
}

}

@media (min-width: 1180px) {

.l-inner {
	padding-left: 0;
	padding-right: 0;
}

}

@media (max-width: 767px) {

.p-comments-list .comment-meta {
	display: block;
}

.p-comments-list .comment-author img {
	width: 30px;
}

.p-comments-list .comment-metadata {
	margin-top: 2px;
}

}

@-webkit-keyframes fadeInDown {

from {
	opacity: 0;
	transform: translateY(-50px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes fadeInDown {

from {
	opacity: 0;
	transform: translateY(-50px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

