.p-archive-header {
	background: #fff;
	border: 1px solid #eee;
	padding: 24px 16px;
	text-align: center;
}

.p-archive-header__title {
	font-size: 32px;
	margin-bottom: 8px;
	font-weight: 700;
}

.p-archive-header__description {
	font-size: 14px;
	color: #666;
}

.p-archive-header__form {
	margin-top: 24px;
	text-align: left;
}
