.p-footer {
}

.p-footer__copy {
	font-size: 13px;
	padding: 8px;
	color: #fff;

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;
		margin: 0 0.4em;

		&:hover {
			opacity: $opacity;
		}
	}

	span {
		margin: 0 0.1em 0 0.4em;
	}
}
