.p-header-nav {
	ul {
		display: flex;
	}

	li {
		margin-right: 12px;
		position: relative;
		z-index: map-get($layer, "header") + 2;
		padding: 16px 0;

		&:last-child {
			margin-right: 0;

			.sub-menu {
				left: auto;
				right: 0;
			}
		}

		> a {
			text-decoration: none;
			display: block;
			padding: 6px 8px;
			font-size: 14px;
			transition: all 0.3s ease 0s;

			&:hover {
				opacity: $opacity; /* opacity */

				+ .sub-menu {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	.sub-menu {
		font-size: 16px;
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		z-index: map-get($layer, "header") + 1;
		min-width: 200px;
		visibility: hidden;
		display: block;
		padding: 0;

		li {
			margin-bottom: 2px;
			margin-right: 0;
			height: auto;
			display: block;
			padding: 0;

			a {
				display: block;
				height: auto;
				line-height: 1.6;
				background: $header-background-sub; /* header background-sub */
				color: $header-color-sub; /* header color-sub */
				padding: 8px 28px 8px 16px;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.05em;
			}
		}
	}
}
