.p-page-links {
	display: flex;
	justify-content: center;

	.post-page-numbers {
		display: inline-block;
		min-width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 14px;
		text-align: center;
		background: map-get($pagination, "background");
		border: 1px solid map-get($pagination, "border");
		color: map-get($pagination, "color");
		margin-right: 12px;

		&.current {
			color: map-get($pagination, "color-active");
			background: map-get($pagination, "background-active");
			border: 1px solid map-get($pagination, "border-active");
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&:hover {
			color: map-get($pagination, "color-active");
			background: map-get($pagination, "background-active");
			border: 1px solid map-get($pagination, "border-active");
			opacity: 1;
		}
	}
}
