// .p-sns-buttons-org {
// 	ul {
// 		display: flex;
// 		flex-wrap: wrap;
// 	}

// 	li {
// 		margin-right: 8px;
// 		margin-bottom: 8px;

// 		&:last-child {
// 			margin-right: 0;
// 		}

// 		a {
// 			text-decoration: none;

// 			&.m-rss {
// 				height: 20px;
// 				line-height: 20px;
// 				padding: 0 12px;
// 				color: #fff;
// 				font-size: 11px;
// 				font-weight: 700;
// 				text-align: center;
// 				background: map-get($sns-color, "rss");
// 				display: inline-block;
// 				border-radius: 3px;
// 				vertical-align: top;
// 			}
// 		}
// 	}
// }
