.p-widget {
	margin-bottom: 16px;
	background: #fff;
	font-size: 14px;

	&:last-child {
		margin-bottom: 0;
	}

	@include mq-up("tab") {
		margin-bottom: 32px;
	}

	ul {
		padding: 0 $pd-x-widget;

		&.children {
			li {
				margin-top: $pd-widget-li;
			}
		}

		&.sub-menu {
			li {
				margin-top: $pd-widget-li;
			}
		}
	}

	> ul {
		padding: $pd-y-widget $pd-x-widget;
	}

	.menu {
		padding: $pd-y-widget $pd-x-widget;
	}

	li {
		font-size: inherit;
		margin-bottom: $pd-widget-li;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
			display: inline-block;
			font-size: inherit;
		}
	}

	a {
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity; /* opacity */
		}
	}
}

.p-widget__title {
	background: map-get($widget, "background"); /* widget background */
	font-size: 16px;
	font-weight: 700;
	padding: $pd-y-widget-title $pd-x-widget-title;
	color: map-get($widget, "color"); /* widget color */
}
