.widget_tag_cloud {
}

.tagcloud {
	padding: $pd-y-widget $pd-x-widget;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.tag-cloud-link {
	transition: all 0.3s ease 0s;
	display: block;
	font-size: 12px !important;
	border-radius: 2px;
	background: map-get($tag-cloud, "background");
	color: map-get($tag-cloud, "color");
	text-decoration: none;
	margin: 0 6px 6px 0;
	padding: 2px 6px;
}

.tag-link-count {
}
